/* p.note{background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
/* font-style: italic; */
/* text-transform: uppercase; */
    /* font-size: 72pt;
/* text-decoration: blink; */
/* min-width: 100px; */
/* max-width: 500px; */
/* }
#taha{vertical-align: top;

}
h1 {
    background-image: url("images/logo.gif");
    background-repeat: no-repeat;
    text-indent: -9999px;}
.credits {
    text-indent: 20px;} */
    
    /* p.one { 
    -moz-border-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGjrzGUTvcKE9gX4xwYT7L0w5Q7SMyAEFy0w&usqp=CAU") 
     11 11 11 11 stretch !important; 
    -webkit-border-image !important: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGjrzGUTvcKE9gX4xwYT7L0w5Q7SMyAEFy0w&usqp=CAU") 
     11 11 11 11 stretch !important;
    border-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGjrzGUTvcKE9gX4xwYT7L0w5Q7SMyAEFy0w&usqp=CAU") 
     11 11 11 11 stretch !important;}
    p.two {
    -moz-border-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGjrzGUTvcKE9gX4xwYT7L0w5Q7SMyAEFy0w&usqp=CAU") 
     11 11 11 11 round !important; 
    -webkit-border-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGjrzGUTvcKE9gX4xwYT7L0w5Q7SMyAEFy0w&usqp=CAU") 
     11 11 11 11 round !important; 
    border-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGjrzGUTvcKE9gX4xwYT7L0w5Q7SMyAEFy0w&usqp=CAU") 
     11 11 11 11 round !important; }
      */
      /* p {
        border: 5px solid #000000;
        padding: 0px;
        /* width: 275px; */
        /* text-align: center; */
        /* border-radius: 20px;
        -moz-border-radius: 20px;
        /* -webkit-border-radius: 20px; */
    /* ebkit-border-radius: 20px;  */
    /* border-radius: 100px ;
-moz-border-radius: 100px ;
-webkit-border-radius: 100px ;
overflow:scroll ;
    } */ 
    /* ol{
        list-style-position:outside ;
    } */
    /* input#submit {
        color: #444444;
        text-shadow: 0px 1px 1px #ffffff;
        border-bottom: 2px solid #b2b2b2;
        background-color: #b9e4e3;
        background: -webkit-gradient(linear, left top, 
         left bottom, from(#beeae9), to(#a8cfce));
        background: 
         -moz-linear-gradient(top, #beeae9, #a8cfce);
        background: 
         -o-linear-gradient(top, #beeae9, #a8cfce);
        background: 
         -ms-linear-gradient(top, #beeae9, #a8cfce);}
        input#submit:hover {
        color: #333333;
        border: 1px solid #a4a4a4;
        border-top: 2px solid #b2b2b2;
        background-color: #a0dbc4;
        background: -webkit-gradient(linear, left top, 
         left bottom, from(#a8cfce), to(#beeae9));
        background: 
         -moz-linear-gradient(top, #a8cfce, #beeae9);
        background: 
         -o-linear-gradient(top, #a8cfce, #beeae9);
        background: 
         -ms-linear-gradient(top, #a8cfce, #beeae9);} */
         /* input { 
            font-size: 120%; 
            color: #5a5854; 
            background-color: #f2f2f2; 
            border: 1px solid #bdbdbd; 
            border-radius: 5px; 
            padding: 5px 5px 5px 30px; 
            background-repeat: no-repeat; 
            background-position: 8px 9px; 
            display: block; 
            margin-bottom: 10px;} 
            input:focus {
            background-color: #ffffff; 
            border: 1px solid #b1e1e4;} 
            input#email { 
            background-image: url("images/email.png");} 
            input#twitter { 
            background-image: url("images/twitter.png");} 
            input#web {
            background-image: url("images/web.png");} */
            /* fieldset {
                width: 350px;
                border: 1px solid #dcdcdc;
                border-radius: 10px;
                padding: 20px;
                text-align: right;}
                legend {
                background-color: #efefef;
                border: 1px solid #dcdcdc;
                border-radius: 10px;
                padding: 10px 20px;
                text-align: left;
                text-transform: uppercase;} */
                /* div {
                    border-bottom: 1px solid #efefef;
                    margin: 10px;
                    padding-bottom: 10px;
                    width: 260px;}
                    .title {
                    float: left;
                    width: 100px;
                    text-align: right;
                    padding-right: 10px;}
                    .radio-buttons label {
                    float: none;}
                    .submit {
                    text-align: right;} */
                    a{
                        cursor: move;
                    }