a:link{background-color:aqua ;}
a:visited{background-color: brown;}
/* .abc{box-shadow: 10px 10px 10px blue  */
/* ;text-shadow: 10px 10px 10px rgb(115, 255, 0); */
/* background-color: rgba(255, 0, 0, 0.408);} */
/* p::first-line{font-size: 80px;} */
/* #abc{word-spacing: 80px; */
/* font-weight: 900; */
/* text-align: center; */
/* } */
/* @font-face {
    font-family: 'ali';
    src: url('./Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf');
}
p{font-family: ali;
font-size: large;} */
/* p {
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    font-style: italic;
    text-transform: capitalize;
    /* line-height: 80px; */
/* letter-spacing:20px ;
    word-spacing: 20px;
    text-align: center; */
/* } */
 /* input {background-color: aqua; */

}
/* input:hover{background-color: blue;} */
/* input:active{background-color: yellow;} */
/* input:focus{background-color: red;} */
/* a:link{background-color: blue;} */
/* a:visited{background-color: brown;} */

/* a{background-color: aqua;} */

/* a {
    text-decoration: none;
}
#abc{word-spacing: 80px;} */
/* #ABC{word-spacing: 70PX;
color: aqua;}
#123{color: aqua;} */

/* .abc{color: blue
    ;} */
/* p{color: aqua;} */
/* #abc{color: blue;} */